* {
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif;
  color: #b0bec5;
  margin: 0;
  font-weight: 300;
}

h1 {
  color: #fafafa;
}

h1,
h2,
p {
  margin: 0;
}

h1,
h2 {
  font-size: 1.2em;
}

h2 {
  color: #37474f;
  padding-bottom: 1em;
}

.main-header {
  text-transform: uppercase;
  background: #37474f;
}

.main-header,
.form-header {
  text-align: center;
  padding: 1.5em 0;
}

.form-header {
  padding-bottom: 2em;
  border-bottom: 4px solid #37474f;
  box-shadow:
    0px 2px 0px 1px white,
    0px 4px 0px 1px #37474f;
}
