* {
  box-sizing: border-box;
}

body,
main,
.contact-info,
.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  font-family: 'Merriweather', serif;
  font-size: .95em;
  color: #37474f;
  margin: 0;
  font-weight: 300;
  min-height: 100vh;
}

h1 {
  color: #fafafa;
}

h1,
h2,
p {
  margin: 0;
}

h1,
h2,
legend,
button {
  font-size: 1.2em;
}

h2,
legend,
button {
  font-weight: 700;
}

p {
  color: #b0bec5;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.page-header,
.contact-info input,
.contact-info select,
.newsletter textarea,
button,
.page-footer {
  width: 100%;
}

.page-header,
.form-header,
.page-footer {
  text-align: center;
}

.page-header {
  text-transform: uppercase;
  background: #37474f;
}

.page-header,
.form-header,
.page-footer {
  padding: 1.5em 0;
}

.form-header {
  padding-bottom: 2em;
  border-bottom: 4px solid #37474f;
  box-shadow:
    0px 2px 0px 1px white,
    0px 4px 0px 1px #37474f;
  margin-bottom: 5px;
}

.form-header,
.main-form {
  width: 90%;
}

.form-header h2 {
  padding-bottom: .5em;
}

.main-form {
  padding: 1.5em 0 1.5em;
}

.contact-info,
legend,
.newsletter {
  padding-bottom: 1.5em;
}

.contact-info {
    border-bottom: 2px solid #37474f;
    margin-bottom: 1.5em;
}

.contact-info label,
.newsletter > label {
  margin-bottom: 1em;
}

.contact-info input,
.contact-info select,
.newsletter label[for="js_news"],
.newsletter label[for="plain_text"] {
  margin-bottom: 1.5em;
}

.contact-info input,
.contact-info select,
.newsletter textarea,
button {
  border-radius: 5px;
  border: none;
}

.contact-info input,
.contact-info select,
.newsletter textarea {
  background: #eee;
}

.contact-info input,
button {
  padding-top: 1em;
  padding-bottom: 1em;
}

.contact-info select {
  height: 47.375px;
  font-weight: 300;
}

.contact-info input::placeholder,
.contact-info select {
  text-align: right;
  padding-right: 1em;
  padding-left: 1em;
}

.contact-info input::placeholder,
.contact-info select,
.page-footer h2 {
  color: #b0bec5;
  font-size: .9em;
  font-style: italic;
}

.contact-info input::placeholder,
.page-footer h2 {
  font-weight: 300;
}

.contact-info input:last-child {
  margin-bottom: 0;
}

textarea {
  resize: none;
}

button {
  background: #fbc02d;
}
